<!DOCTYPE html>
<html>
  <head>
    <title>left.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
   
  <body>
    <ul type="circle">
      <li>
      <a href="PassServlet" target="right">个人信息</a></li>
      <li>
      <a href="AllRooms" target="right">预约会议室</a></li>
      <li>
      <a href="Myappoint" target="right">我的预约</a></li>
    </ul>
  </body>
</html>
